.app {
  max-width: 350px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-bottom: 25px;
}

input,
button,
span {
  margin: 5px 0px;
  padding: 4px 6px;
}
